@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 100%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
* { scroll-behavior: smooth; }

header .wrapper {
  display: flex;
  justify-content: space-between;
}

.header-left, 
.header-right { 
  display: flex;
  flex-basis: 40%; 
  align-items: center;
}

h1 {
  border-right: 1px solid #C9C7C7;
  margin-right: 17px;
  text-indent: -9999px;
}

h1 a {
  float: left;
  text-indent: 0;
}

h1 img { width: auto; }

.header-left span {
  color: #818B9B;
  font-size: 12px;
}

.header-right { justify-content: space-between; }
.hamburger { display: none; }

.hamburger div {
  width: 30px;
  height: 5px;
  margin-bottom: 3px;
  background-color: #0286AF;
  cursor: pointer;
  text-indent: -9999px;
  transition: .3s ease-in-out;
}

.barone { transform: rotate(-45deg) translate(-4px, 4px); }
.bartwo { opacity: 0; }
.barthree { transform: rotate(45deg) translate(-7px, -9px); }

nav { 
  color: #343535;
  font-size: 11px; 
}

nav span { margin: 0 13px; }

nav span::after {
  content: "\f107";
  margin-left: 5px;
  font-family: fontAwesome;
}

nav span:hover {
  color: #47C5DB;
  transition: .3s ease-in-out;
}

nav > ul > li { 
  position: relative; 
  text-transform: capitalize;
}

nav a { 
  margin-left: 15px;
  color: #343535; 
}

nav span + ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
}

nav > ul > li:hover ul {
  width: 100%;
  display: block;
}

nav li li { 
  width: 100%;
  padding: 5px 2px;
  display: block;
  background-color: #335977;
  color: #FFF;
  text-align: center;
  text-transform: capitalize; 
}

.get-the-alice a {
  padding: 20px 28px;
  border-left: 1px solid #C9C7C7;
  color: #343535; 
  font-size: 11px;
  text-transform: capitalize;
}

.get-the-alice a:hover { background-color: #F9F8F8; }


/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

.banner-content {
  padding: 106px 0 123px; 
  background-image: url(../images/background.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
}

h2 {
  color: #FFF;
  font-size: 40px;
  text-align: center;
  text-transform: capitalize;
}

.banner-navigation {
  height: 38px;
  position: relative;
  background-color: #D9D9F3;
  font-size: 11px;
  text-align: center;
  text-transform: capitalize;
}

.banner-navigation ul {
  padding: 15px 30px;
  border-radius: 2px;
  background-color: #D9D9F3;
  position: absolute;
  top: -11px;
  left: 50%;
  transform: translate(-50%);
}

.banner-navigation a { 
  margin-right: 7px;
  color: #343535;  
}

.banner-navigation a::after { 
  content: "/"; 
  margin-left: 13px;
}

.banner-navigation a:hover {
  color: #3BD2E2;
  transition: .3s ease-in-out;
}

.banner-navigation span { color: #A6A6A8; }
.office { padding: 62px 0; }

.office .wrapper {
  padding-left: 30px;
  width: 60.8%;
  display: flex;
  justify-content: space-between;
}

.office-left { flex-basis: 35%; }

.office h3 {
  margin-bottom: 15px;
  color: #28313E;
  font-size: 40px;
  text-transform: capitalize;
}

.office p {
  margin-bottom: 28px;
  color: #A6A6A8;
  font-size: 14px;
  line-height: 20px;
}

.office h4 {
  margin-bottom: 20px;
  color: #A6A6A8;
  font-size: 9px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.headquarter { margin-bottom: 24px; }

address {
  margin-bottom: 12px;
  display: inline-flex;
  color: #4D4E4F;
  font-size: 13px;
  line-height: 17px;
}

address::before, .office li a::before {
  width: 25px;
  color: #16B6D2;
  font-family: fontAwesome;
}

.office a { 
  margin-bottom: 12px;
  display: inline-flex;
  align-items: center;
  font-size: 13px; 
}

.office li { display: block; }
.office li:first-child a { color: #4D4E4F; }
.office li:last-child a { color: #16B6D2; }
address::before { content: "\f041"; }
.office li:first-child a::before { content: "\f10b"; }

.office li a:hover { 
  color: #6DA0AA; 
  transition: .3s ease-in-out;
}

.office li:last-child a::before { 
  content: "\f003"; 
  font-size: 11px;
}

.get-in-touch { 
  padding: 62px 0 57px;
  background-color: #F9F8F8; 
}
.get-in-touch .wrapper { width: 47%; }

.get-in-touch h3 {
  margin-bottom: 40px;
  color: #28313E;
  font-size: 30px;
  text-transform: capitalize;
  text-align: center;
}

.wrong {
  margin-bottom: 10px;
  color: #E51414;
  font-size: 10px;
}

.name-email, .phone-submit {
  display: flex;
  justify-content: space-between;
}

.name, .email, .phone, form button { flex-basis: 46%; }
.message { width: 100%; }

textarea { height: 105px; }
form button {
  background-color: #FF6F80;
  color: #FFF;
}

form button:hover {
  background-color: #FF0101;
  transition: .3s ease-in-out;
}

input, textarea, form button {
  width: 100%;
  padding: 13px 15px;
  border: 1px solid #F4EFEF;
  border-radius: 25px;
  margin-bottom: 13px;
  font-size: 10px;
  letter-spacing: 1px;
  outline-style: none;
}

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 

.footer-top { 
  padding: 50px 0 47px; 
  border-bottom: 1px solid #E2E0E0;
  margin-bottom: 30px;
}

.footer-top .wrapper {
  width: 63%;
  display: flex;
  justify-content: space-between;
}

.footer-col-one, 
.about, 
.features, 
.contacts { flex-basis: 20%; }
.footer-top { font-size: 10px; }

.footer-col-one, 
.contacts { color: #A3B0C8; }

footer h3 { margin-bottom: 10px; }
.features  ul { column-count: 2; }

footer p {
  margin-bottom: 18px;
  line-height: 18px;
}

.footer-col-one > a:last-of-type {
  padding: 11px 17px;
  border: 1px solid #A3B0C8;
  border-radius: 20px;
  text-transform: capitalize;
}

h4 {
  margin-bottom: 35px;
  color: #28313E;
  font-size: 15px;
  text-transform: capitalize;
}

footer li { 
  margin-bottom: 15px;
  display: block; 
  text-transform: capitalize;
  letter-spacing: 1px;
}

footer a { color: #28313E; }

footer a:hover {
  color: #2BB8D1;
  transition: .3s ease-in-out;
}

.social li { display: inline-block; }
.social a { text-indent: -9999px; }

.social li a::before {
  padding: 5px;
  border-radius: 50%;
  margin-right: 3px;
  float: left;
  color: #FFF;
  font-family: fontAwesome;
  font-size: 13px;
  text-indent: 0;
}

.social li:first-child a::before { 
  content: "\f099"; 
  background-color: #63C9EB;
}

.social li:nth-child(2) a::before { 
  content: "\f09a"; 
  padding: 5px 7px;
  background-color: #4970BF;
}

.social li:nth-child(3) a::before { 
  content: "\f16d"; 
  background-color: #FF6F80;
}

.social a:hover::before {
  background-color: #99EDDA;
  color: #E51414;
  transition: .3s ease-in-out;
}

.contacts a { color: #A3B0C8; }

.footer-bottom { 
  margin-bottom: 27px;
  color: #A3B0C8;
  font-size: 12px;
  text-align: center; 
}

.back-to-top {
  position: fixed;
  right: 29px;
  bottom: 29px;
}

.back-to-top button { 
  border-style: none;
  background-color: transparent;
  text-indent: -9999px; 
  outline: none;
}

.back-to-top button::before {
  content: "\f106";
  padding: 12px 15px;
  border-radius: 50%;
  float: left;
  color: #FFF;
  background-color: #FF6F80;
  font-family: fontAwesome;
  text-indent: 0;
}

.back-to-top button:hover::before {
  background-color: #E51414;
  transition: .3s ease-in-out;
}

 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  